table#calendar {
	background:#DFE7F0;
	border-spacing:0;
	border-collapse:collapse;
	color:#555;
	margin:0 6px 27px 6px;
	table-layout:fixed;
	width:160px;
}
table#calendar th, table#calendar td {
	border-bottom:1px solid #BDCDDD;
	height:17px;
	line-height:17px;
	padding:0;
	text-align:center;
	width:22px;
}
table#calendar th {
	font-size:9px;
	font-weight:700;
}
table#calendar td+td {
	border-left:1px solid #BDCDDD;
	text-align:center;
}
table#calendar a, table#calendar a:visited {
	color:#555;
	display:block;
	line-height:16px;
	padding-top:1px;
}
table#calendar td a:hover {
	background:#3D6A9C!important;
	color:#FFF;
}
#calBox {
	background:url('/images/menu_sprite2.png') no-repeat;
	color:#FFF;
	font:700 12px/18px Arial, Helvetica, sans-serif;
	height:180px;
	position:absolute;left:-9999px;top:0;
	width:172px;
	z-index:92;
}
#calBox a {
	cursor:pointer;
	color:#FFF;
}
#calNow {
	font-size:10px;
	line-height:16px;
	font-weight:400;
	position:absolute;bottom:9px;left:9px;
}
#calMonth {
	border:1px solid transparent;
	margin:0;
	padding:5px 0 3px 0;
	text-align:center;
}
#calMonth a {
	padding:0 4px;
	position:absolute;top:6px;
}
a#nextMonth {
	right:12px;
}
a#prevMonth {
	left:12px;
}
#calToday a, #calToday a:visited {
	background:#adc8e7!important;
}
.calButton {
	background:url('/images/btn_sprite.png') 100% 100%;
	float:left;
	height:16px;
	margin:3px 0 0 2px;
	width:13px;
}
.calDate {
	float:left;
}