#dialog {
	position: absolute; top: 100px; left: 50%;
	margin-left: -300px;
	width: 600px;
}

#dia-body, #dia-body-fill, #dia-close {
	background: url('/images/dialog-body.png') repeat-y;
}
#dia-body {
	background-position: 100% 0;
	margin-left: 4px;
}
#dia-body-fill {
	background-position: -24px 0;
	height: 100%;
	margin: 0 8px 0 -5px;
	min-height: 140px;
	padding-left: 9px;
}

#dia-close {
	display: block;
	height: 14px;
	position: absolute; top: 6px; right: 0;
	width: 14px;
}

#dia-foot, #dia-foot-cap, #dia-head, #dia-head-cap {
	background: url('/images/dialog-top-bottom.png') no-repeat;
}

#dia-foot {
	background-position: 0 100%;
	height: 12px;
	margin-right: 12px;
	position: relative;
}
#dia-foot-cap {
	background-position: 100% 100%;
	height: 12px;
	position: absolute;	right: -12px; bottom: 0;
	width: 12px;
}

#dia-head {
	height: 24px;
	margin-right: 9px;
	padding-left: 9px;
	position: relative;
}
#dia-head-cap {
	background-position: 100% 0;
	height: 24px;
	position: absolute; top: 0; right: -9px;
	width: 9px;
}
#dia-head-title {
	color: #FFF;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 26px;
	text-align: center;
	text-shadow: 0 1px 0 #555;
}
#dia-tabbar {
	background: #CCC url('/images/filter_bg.png') repeat-x;
	border-bottom: 1px solid #BBB;
	height: 24px;
}

#dia-tabbar a {
	color: #4d4d4d;
	display: block;
	float: left;
    font: normal 12px arial, sans-serif;
	letter-spacing: 1px;
    height: 16px;
	margin: 5px 14px;
	padding: 0 8px 0 0;
	text-decoration: none;
	text-shadow: 0 1px 0 #EEE;
}

#dia-tabbar a.selected  {
	background: url('/images/filter_item.png') no-repeat 100% 0;
    color: #FFF;
    margin: 4px 14px;
    padding-right: 8px;
	text-shadow: 0 1px 0 #777;
}
#dia-tabbar a.selected span {
	background: url('/images/filter_item.png') no-repeat;
    display: block;
    line-height: 16px;
    padding-left: 8px;
	margin-left: -8px;
}

#dia-body form {
	padding:20px 40px;
}
#dia-body .buttongrp {
	text-align:right;
}
#dia-body .btn_spacer {
	padding: 20px;
}
#dia-body .input, #dia-body .inputlbl {
	font:13px/16px Arial, Helvetica, sans-serif;
}
#dia-body .input {
	border:1px solid #999;
	margin-left:10px;
	padding:.35em 6px;
	width:280px;
}
#dia-body .inputgrp {
	margin:.8em 0;
}
#dia-body .inputgrp p {
	color:#666;
	font-size:11px;
	margin-left:120px;
	margin-top: 4px;
}
#dia-body .inputlbl {
	float:left;
	display:block;
	height:1.7em;
	padding:6px 0 0 0;
	text-align:right;
	width:110px;
}