html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	background: #ddd8c2;
	color: #222;
	font: 14px/1.1em Arial, Helvetica, sans-serif;
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
h3 {
	font-size: 15px;
	letter-spacing: 1px;
	margin-bottom: 1em;
	text-shadow: #000 0 1px 0;
}
h4 {
	color: #676660;
	font-weight: 700;
	margin-left: 10px;
	text-shadow: 0 1px 0 #FFF;
}
:focus {
	outline: 0
}

/* -- Id ---------------------------- */
#errors {
	border:1px solid #CDCDCD;
}
#errors {
	background:#FFF;
	border-top:0;
	filter:alpha(opacity=97);
	margin-left:-312px;
	opacity:.97;
	padding:16px 12px;
	position: absolute; top: 0; left: 50%;
	width:600px;
	z-index:10;
}
#errors ul {
	margin:0 0 0 5em;
	list-style:none;
}
#errors li {
	padding-bottom:.2em;
}
#errors strong {
	float: left;
	padding-right: 1em;
}
#errors span {
	cursor: pointer;
	font-size: small;
	position: absolute; top: 4px; right: 8px;
	text-decoration: underline;
}
#header {
	background: #333 url('/images/header_bg_front.png') repeat-x;
	color: #FFF;
	height: 200px;
}
#header .sitename {
	color: #EEE;
	display: block;
	float: left;
	font: 42px/1em "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	letter-spacing: 1px;
	margin: 30px 0 10px;
	text-decoration: none;
	text-shadow: #000 0 2px 0;
}
#header .tagname {
	clear: left;
	font-size: 18px;
	float: left;
	letter-spacing: 1px;
	margin: 10px 0 54px;
	text-shadow: #000 0 1px 0;
}
#retrieve_form {
	display: none;
}
#screenshot {
	background-color: #EEE;
	border-bottom: 1px solid #FFF;
	border-top: 1px solid #FFF;
}
#screenshot img {
	display: block;
	margin: 0 auto;
}
#welcomeBox {
	position: absolute; right: 20px; top: 40px;
}
#wrap {
	margin:10px auto;
	width: 400px;
}

.bundle {
	margin: 0 auto;
	position: relative;
	width: 960px;
}
.boldlink, .boldlink:visited {
	clear: both;
	color: #6297d9;
	display: block;
	font: 18px/18px "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	letter-spacing: 1px;
	text-decoration: none;
	text-shadow: #000 0 1px 0;
}
.boldlink:hover {
	text-decoration:underline;
}
.buttongrp {
	text-align:right;
}
.checklbl, .inputlbl, .input {
	font:13px/16px Arial, Helvetica, sans-serif;
}
.check {
	height:13px;
	margin:0 5px 0 0;
	padding:0;
	position:relative;
	top:-1px;
	vertical-align:bottom;
	width:13px;
}
.checklbl {
	display:block;
}
.checkgrp {
	margin:0 0 1em 100px;
}
.feature {
	float: left;
	margin: 30px;
	width: 260px;
}
.feature p {
	color: #676660;
	line-height: 1.4em;
	text-shadow: 0 1px 0 #FFF;
	margin-left: 10px;
	width: 260px;
}
.input {
	border:1px solid #999;
	margin-left:10px;
	padding:.35em 6px;
}
.inputlbl {
	float:left;
	display:block;
	height:1.7em;
	padding:6px 0 0 0;
	text-align:right;
	width:92px;
}
.inputgrp {
	margin:.8em 0;
}
.login {
	position: absolute; right: 0; top: 0;
	padding: 20px 0;
}
.login h2 {
	margin: 0 0 1em 0;
}
.loginlink {
	color: #AAA;
	font-size: 12px;
	float: left;
	margin-top: 8px;
}