/* -- Reset ------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    font:18px/18px "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    color:#333;
}
a {
    color:#333;
    text-decoration:none;
}
.bluehighlight {
    background-color:#8AB0DF;
}
.cb_done {
    background-position:bottom;
}
.cb_todo {
    background-position:top;
}
.completedate {
    position:absolute;
    top:-5px;
    left:5px;    
}
.del_horiz {
    background-position:bottom;
}
.del_vert {
    background-position:top;
}
.delete_button {
    display:none;
    position:absolute;
    top:8px;
    right:8px;
    width:57px;
    height:28px;
}
.dates {
    position:relative;
    color:#aaa;
    font-size:9px;
}
.duedate {
    position:absolute;
    top:-5px;
    right:5px;
}
.edit_div {
    display:none;
    padding:5px;
    text-align:center;
    border-top:1px dashed #333;
}
.edit_div img {
    margin-left:30px;
    margin-right:30px;
}
.edit_lyst {
    position:relative;
    padding:5px;
    background-color:#DDD;
    display:none;
}
.edit_mode {
    display:none;
}
.edit_message {
    display:none;
    padding:5px;
    text-align:center;
    color:blue;
}
.formgrp {
    text-align:center;
    margin-bottom:10px;
    margin-right:auto;
    margin-left:auto;
}
.formgrp button {
    font-size:1.1em;
}
.formgrp input {
    font-size:1.1em;
}
.groupItems li {
    position:relative;
    border-bottom:1px solid #CCC;
    min-height:50px;
}
.groupItems li a,.groupItems li p {
    display:block;
}
div.item {
    margin-top:5px;
    margin-left:35px;
    margin-right:35px;
    font-size:14px;
}
.groupItems li .item, .groupItems li .lyst {
    padding:10px;
}
.groupItems li .lyst .permission {
    position:absolute;
    top:10px;
    display:block;
    width:60px;
    text-align:right;
}
.groupItems li input {
    font:18px/18px "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border:0px;
    width:290px;
    right:0px;
}
.groupItems li.new_lyst {
    padding:5px;
    background-color:#DDD;
    position:relative;
    display:none;
}
.itemSelected {
    background-color:#CCC;
}
.left_side {
    position:absolute;
    left:5px;
    top:15px;
    bottom:10px;
    width:28px;
    height:28px;
    overflow:hidden;
    background-image:url(http://checklyst.com/apps/iPhone/images/checkboxes.png);
    background-repeat: no-repeat;
}
.left_side_lysts {
    position:absolute;
    left:5px;
    top:6px;
    width:25px;
    height:25px;
    overflow:hidden;
    background-image:url(http://checklyst.com/apps/iPhone/images/delete.png);
    background-repeat: no-repeat;
}
li.redText {
    padding:10px;
    color:red;
    border-bottom:0px;
}
.no_edit .lyst {
    margin-right:25px;
}
.progressbar {
    width:290px;
    -webkit-border-radius:3px;
    height:6px;
    border:1px solid #000;
    background-color:white;
    background-image:url(http://checklyst.com/apps/iPhone/images/menu-select_bg.png);
    background-repeat: no-repeat;
    padding:0;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5px;
    line-height:0;
}
.right_side {
    top:15px;
    bottom:0;
    right:8px;
    width:23px;
    position:absolute;
}
.strike {
    color:#CCC;
    text-decoration:line-through;
}
#switchimg {
    margin-left:auto;
    margin-right:auto;
    width:87px;
    height:25px;
    overflow:hidden;
    background-image:url(http://checklyst.com/apps/iPhone/images/switch.png);
    background-repeat: no-repeat;
}
.switch_off {
    background-position:top;
}
.switch_on {
    background-position:bottom;
}
.urgent {
    background-color:#FBB;
}