/* -- Reset ------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	color: #484848;
	font: 15px/1em Helvetica, Arial, "Helvetica Neue", sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}
a {
	color: #484848;
	text-decoration: none;
}
#push {
	border-top: 1px solid #fbfbf9;
	height: 0;
}
#new_lyst {
	display: none;
}
#new_lyst, #wrap, .edit_lyst, .edit_mode, .no_edit {
	background: #E7E4d7 url('http://checklyst.com/apps/iPhone/images/texture@2x.png');
	border-top: 1px solid #fbfbf9;
	border-bottom: 1px solid #afaca2;
	position: relative;
	-webkit-background-size: 48px 48px;
	-webkit-tap-highlight-color: rgba(203,203,191,0);
}
#wrap {
	border-top: 0;
	min-height: 386px;
}
.btn_cancel, .btn_delete, .btn_save, .edit_input, .new_input {
	background: url('http://checklyst.com/apps/iPhone/images/edit_sprite@2x.png') no-repeat;
	-webkit-background-size: 254px 91px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.btn_cancel {
	background-position: 0 0;
	height: 27px;
	position: absolute; top: 6px; left: 138px;
	width: 80px;
}
.btn_cancel:hover {
	background-position: 0 -27px;
}
.btn_delete {
	background-position: -193px 0;
	display: none;
	height: 29px;
	position: absolute; top: 9px; right: 17px;
	width: 0;
}
.btn_delete:hover {
	background-position: 0 -29px;
}
.btn_save {
	background-position: -100px 0;
	height: 27px;
	position: absolute; top: 6px; left: 225px;
	width: 80px;
}
.cb_done, .cb_todo {
	background: url('http://checklyst.com/apps/iPhone/images/checkboxes@2x.png') no-repeat;
	height: 28px;
	overflow: hidden;
	position: absolute; top: 15px; bottom: 10px; left: 5px;
	width: 28px;
	-webkit-background-size: 28px 65px;
}
.cb_done {
	background-position: 0 -37px;
}
.cb_todo {
	background-position: 0 0;
}
.completedate {
	position: absolute;
	left: 5px;
}
.dates {
	position: relative;
	color: #aaa;
	font-size: 9px;
	padding-bottom: 3px;
}
.delete_icon {
	background: url('http://checklyst.com/apps/iPhone/images/delete-icon@2x.png') no-repeat 0 0;
	height: 29px;
	position: absolute; top: 10px; left: 10px;
	width: 29px;
	-webkit-background-size: 29px 290px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.duedate {
	position: absolute;
	right: 5px;
}
.edit_bar {
	display: none;
}
.edit_bar, .edit_bar_n {
	background: url('http://checklyst.com/apps/iPhone/images/editbar@2x.png');
	height: 38px;
	position: relative;
	-webkit-background-size: 320px 38px;
}
.edit_input, .new_input {
	background-position: 0 -60px;
	border: 0;
	color: #484848;
	font: 15px/1em Helvetica, Arial, "Helvetica Neue", sans-serif;
	height: 11px;
	margin: 8px 0 8px 50px;
	padding: 10px 5px;
	width: 244px;
}
.edit_lyst {
	display: none;
}
.edit_mode {
	display: none;
	padding: 13px 8px;
}
.edit_message {
	background: #D4D1C5;
	color: #FFF;
	display: none;
	padding: 5px;
	text-align: center;
}
.formgrp {
	text-align: center;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
}
.formgrp button {
	font-size: 1.1em;
}
.formgrp input {
	font-size: 1.1em;
}
.greyarrow {
	background: url('http://checklyst.com/apps/iPhone/images/greyarrow@2x.png') no-repeat 0;
	position: absolute; top: 0; right: 10px; bottom: 0;
	height: 100%;
	width: 9px;
	-webkit-background-size: 9px 14px;
}
.groupItems li {
	border-bottom: 1px solid #CCC;
	min-height: 50px;
	position: relative;
}
.groupItems li a,.groupItems li p {
	display: block;
}
div.item {
	font-size: 14px;
	margin: 0 35px 0 35px;
}
.groupItems li .item, .groupItems li .lyst {
	padding: 10px;
}
.groupItems li .lyst .permission {
	position: absolute;
	top: 10px;
	display: block;
	width: 60px;
	text-align: right;
}
.groupItems li input {
	font: 15px/1em Helvetica, Arial, "Helvetica Neue", sans-serif;
	border: 0px;
	width: 290px;
	right: 0px;
}
.highlight {
	background: #CECBBF url('http://checklyst.com/apps/iPhone/images/texture_dark@2x.png');
	-webkit-background-size: 50px;
	-webkit-tap-highlight-color: rgba(203,203,191,0.5);
}
.itemSelected {
	background-color: #CCC;
}
.left_side_lysts {
/*	background: url(/images/delete.png)  no-repeat; */
	position: absolute;
	left: 5px;
	top: 6px;
	width: 25px;
	height: 25px;
	overflow: hidden;
}
li.redText {
	padding: 10px;
	color: red;
	border-bottom: 0px;
}
.lyst_done {
	display: none;
}
.lyst_todo {
	display: none;
}
.new_input {
	margin: 8px 33px;
}
.no_edit {
	display: block;
	padding: 13px 8px;
	position: relative;
	-webkit-tap-highlight-color: rgba(231,228,215,0);
}
.noitems {
	position: relative;
	margin-left:auto;
	margin-right: 0;
	padding-top: 10px;
	padding-right: 65px;
	text-align: right;
	width: 150px;
}
.noitems img {
	position: absolute;
	top: 0;
	right: 10px;
	border: 0;
}
.notify {
	background-color: #ffb;
}
.progress {
	background: url('http://checklyst.com/apps/iPhone/images/progress_bar@2x.png') no-repeat;
	height: 8px;
	margin: 10px 0 0;
	width: 250px;
	-webkit-background-size: 250px 8px;
}
.progreess_fill {
	background: url('http://checklyst.com/apps/iPhone/images/progress_fill@2x.png') no-repeat;
	height: 8px;
	width: 0;
	overflow: hidden;
	-webkit-background-size: 250px 8px;
}
.right_side {
	top: 15px;
	bottom: 0;
	right: 8px;
	width: 23px;
	position: absolute;
}
.singleout {
	display: none;
}
.strike {
	color: #CCC;
	text-decoration: line-through;
}
.switch_off {
	background-position: top;
}
.switch_on {
	background-position: bottom;
}
#switchimg {
	margin-left: auto;
	margin-right: auto;
	width: 87px;
	height: 25px;
	overflow: hidden;
	background-image: url(http://checklyst.com/apps/iPhone/images/switch.png);
	background-repeat: no-repeat;
}
.urgent {
	background-color: #FBB;
}