html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	background: #EBE6CF;
	color: #222;
	font: 14px/1.1em Arial, Helvetica, sans-serif;
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
h1 {
	font-size: 18px;
	font-weight: 100;
	letter-spacing: 1px;
	margin-bottom: 1em;
}
h2 {
	font-size: 15px;
	margin-bottom: 1em;
}
h3 {
	color:#9A926B;
	font-size: 15px;
	font-weight: 700;
	text-shadow: #FFF 0 1px 0;
	text-transform: uppercase;
	padding: 4px 9px;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
textarea {
	width: 100%;
}

:focus {
	outline: 0
}

/* -- Id ---------------------------- */
#errors {
	border:1px solid #CDCDCD;
}
#errors {
	background:#FFF;
	border-top:0;
	filter:alpha(opacity=97);
	margin-left:-312px;
	opacity:.97;
	padding:16px 12px;
	position: absolute; top: 0; left: 50%;
	width:600px;
	z-index:10;
}
#errors ul {
	margin:0 0 0 5em;
	list-style:none;
}
#errors li {
	padding-bottom:.2em;
}
#errors strong {
	float: left;
	padding-right: 1em;
}
#errors span {
	cursor: pointer;
	font-size: small;
	position: absolute; top: 4px; right: 8px;
	text-decoration: underline;
}
#header {
	background:url('/images/header_bg.png') repeat-x;
	color:#FFF;
	font-size:11px;
	height:40px;
}
#header #site-name {
	color:#FFF;
	font:20px/1em "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	position: absolute; top: 9px; left: 10px;
	text-decoration:none;
}
#header #site-nav {
	background:#98926E url('/images/site-nav_bg.png') no-repeat;
	height: 20px;
	line-height: 20px;
	position: absolute; top: 1px; right: 0;
	width:131px;
}
#header li a, li a:visited {
	color:#262626;
	text-decoration:none;
}
#header li {
	display:block;
	float:left;
	padding-left:17px;
}
#todaysDate {
	font-weight: 700;
	line-height: 20px;
	position: absolute; top: 2px; right: 140px;
	text-align: right;
}
#groups {
	background: #E9E7D7 url('/images/texture.png');
	border-right:1px solid #868686;
	overflow-x:hidden;
	overflow-y:auto;
	position: absolute; top: 40px; bottom: 26px;
	width:240px;
}
#content {
	position: absolute; top: 40px; right: 0; bottom: 26px; left: 241px;
	min-width: 400px;
}
#filter {
	background: #CCC url('/images/filter_bg.png') repeat-x;
	height: 24px;
	padding: 0 10px;
	position: absolute; top: 0; right: 0; bottom: 0; left: 0;
}
#filter .button {
	margin-top:	1px;
}
#bundle {
	position: absolute; top: 0; right: 0; bottom: 0; left: 0px;
	overflow-x:hidden;
	overflow-y:auto;
}
#bundleAlt {
	background: #FFF;
	position: absolute; top: 24px; right: 0; bottom: 0; left: 0px;
	overflow-x:hidden;
	overflow-y:auto;
}
#bundleItems {
	padding:10px;
}
#push {
	clear: both;
	display: none;
	height: 73px;
}
#footer {
	background: #CCC url('/images/filter_bg.png') repeat-x;
	border-top:1px solid #D5D5D5;
	border-bottom:1px solid #B6B6B6;
	height: 24px;
	position: absolute; left: 0; bottom: 0;
	width: 100%;
}
#listEdit {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -73px;
}
#newitemForm {
	background: #E3E3E3 url('/images/new-form_bg.png') repeat-x;
	border-left:1px solid #CDCDCD;
	display:none;
	padding:3px 0 2px 0;
	margin:0;
}

table#list, table#newitem, table#trash {
	table-layout:fixed;
	width:100%;
}
table#list th, table#trash th {
	background: #CDCDCD url('/images/table-header_bg.png') repeat-x;
	font-size:11px;
	font-weight: 100;
	line-height:16px;
	padding:1px 6px 0;
}
table#trash th {
	text-align: left;
}

table#list th+th {
	border-left: 1px solid #CDCDCD;
	text-align: left;
}
table#newitem th {
	font-size:11px;
	font-weight:100;
	line-height:11px;
	padding:0 7px 0;
	text-align:left;
}
table#list td, table#newitem td, table#trash td {
	line-height:13px;
	padding:2px;
	vertical-align:top;
}
table#list td {
	border-bottom:1px solid #F0F0F0;
}
table#list td+td {
	border-left:1px solid #F0F0F0;
}
table#newitem td {
	border:1px solid transparent;
}
#list td p, #newitem td p, table#trash td p {
	font: 13px/16px Arial, Helvetica, sans-serif;
	padding: 3px 5px;
}
#list td a, #list td a:visited {
	color: #5C8AC2;
}
#list .strike td a, #list .strike td a:visited {
	color: #B3B3B3;
}
#people .access, #people .owner {
	color: #B3B3B3;
	font-size: 11px;
	float: right;
	line-height: 22px;
	width: 45px;
}
#people .owner {
	color:#666;
}
#popBox {
	background:url('/images/menu_sprite2.png') no-repeat 100% 0;
	cursor:default;
	height:62px;
	position: absolute; top: 0; left: -9999px;
	width:81px;
}
#popContent {
	margin:8px 7px;
}
#projects {
	width: 500px;
}
.groupItems li {
	color:#676660;
	font-size:13px;
	padding-left:10px;
	margin:2px 0;
	height:22px;
}
.groupItems a, .groupItems a:visited, .groupItems p {
	color: #676660;
	display: inline;
	font-size: 13px;
	line-height: 21px;
	padding: 0 0 0 19px;
	text-decoration: none;
	text-shadow: 0 1px 0 #FFF;
}
#prjname {
	font-size:12px;
	height:16px;
	margin-left:18px;
	width:200px;
}
#retrieve_form {
	display:none;
}
#toolbar_row, td.toolbar_row {
	text-align:right;
}
#toolbar_row {
	background:#E9E9E9 url('/images/toolbar_bg.png') repeat-x;
}
#toolbar_row .button {
	margin:2px 1px 3px 4px;
}
.toolbar_row .button {
	margin:2px 1px 0 4px;
}
#toggleForm {
	position: absolute; top: 2px; left: 244px;
}
/* -- Buttons ----------------------- */
a.button {
	display:inline-block;
	text-decoration:none;
}
.action-l, .action-r, .btn_checkbox, .btn_plus, .btn_options,
.default-l, .default-r {
	background:url(/images/btn_sprite.png) no-repeat}
.button {
	background:transparent;
	border:0;
	cursor:pointer;
	font: 11px/1em Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	margin:0;
	padding:0;
	overflow:visible;
	position: relative;
}
.button::-moz-focus-inner, .btn_checkbox::-moz-focus-inner {
	border: 0;
	padding: 0}
.button span {
	color:#222;
	display:block;
	height:22px;
	line-height:21px;
	position: relative}
.action-l {
	margin-right:3px;
	padding-left:12px}
.default-l {
	background-position:0 -44px;
	margin-right:3px;
	padding-left:12px}
.default-r {
	background-position:100% -44px;
	margin-right:-3px;
	padding-right:11px}
.button:active .default-l {
	background-position:0 -66px}
.button:active .default-r {
	background-position:100% -66px}
.action-r {
	background-position:100% 0;
	margin-right:-3px;
	padding-right:11px}
.button:active .action-l, .btn_form .action-l {
	background-position:0 -22px}
.button:active .action-r, .btn_form .action-r {
	background-position:100% -22px}
.btn_plus {
	background-position:0 -88px;
	width:21px}
.button:active .btn_plus {
	background-position:-22px -88px}
.btn_checkbox {
	background-position:-131px 100%;
	border:0;
	height:20px;
	width:20px}
.btn_options {
	background-position:-44px 100%;
	width:32px}
.button:active .btn_options, .btn_open {
	background-position:-77px 100%}

/* -- Other Classes ----------------- */
.bg_clear {
	background-color: transparent;
}
.bg_white {
	background-color: #FFF;
}

.cell_drag {
	background:url('/images/drag_grip.png') no-repeat 3px 6px;
	cursor:move;
}
.cell_text {
	cursor:default;
}
.cell_text:hover {
	background:#F2F2F2;
}
.clear { clear:both }

.thd_chk { width:64px }
.col_bnk { width:64px }
.col_chk { width:50px }
.thd_due,
.col_due { width:104px }
.col_grp { width:14px }
.col_btns { width:144px; }
.col_date { width:170px; }

.dragging td, .dragging td:hover {
	background-color:#B6D2F2;
	box-shadow:0 1px 2px #CDCDCD;
		-moz-box-shadow:0 1px 2px #CDCDCD;
		-webkit-box-shadow:0 1px 2px #CDCDCD;
	cursor:move;
}
.edt_box {
	overflow:hidden;
	padding:0 4px;
}
.edt_text, .edt_input {
	border:1px solid #B3B3B3;
	float:left;
	font:13px/16px Arial, Helvetica, sans-serif;
	height:16px;
}
.edt_text {
	margin:0 0 0 -4px;
	overflow:hidden;
	padding:2px 3px;
	resize:none;
	width:100%;
}
.edt_input {
	padding:2px;
	width:78px;
}
.group {
	border-top:1px solid #FFF;
	min-height:10em;
	padding:0 0 40px 0;
	position: relative;
}
.groupBreak {
	background:#CCC url('/images/group-break_bg.png') repeat-x;
	height:9px;
}
.groupBtns {
	position: absolute; top: 1px; right: 0;
	width: 100%;
}
.groupBtns .button {
	float:right;
	margin-right:3px;
}
.hidden {
	display: none;
}
.menu {
	background:#333;
	border:1px solid #666;
	box-shadow:0 2px 3px #AAA;
		-moz-box-shadow:0 2px 3px #AAA;
		-webkit-box-shadow:0 2px 3px #AAA;
	margin:0 0 0 25px;
	padding:5px 0;
	position: absolute; top: 22px; right: 2px;
	visibility:hidden;
	z-index:1;
}
.menu li {
	min-width: 10em;
}
.menu a {
	color:#FFF !important;
	font-size:13px;
	display:block;
	height:1.4em;
	padding:4px 10px 1px 10px;
	text-decoration:none;
}
.menuSelect {
	background:#5585CC url('/images/menu-select_bg.png') repeat-x;
	font-weight:700;
}
.menuSelect a {
	background:url('/images/menu_check.png') no-repeat 0 1px;
}
li.menuSelect a {
	color:#FFF !important;
	text-shadow: #4C6E97 0 1px 0 !important;
}
.popClick {
	color:#FFF;
	padding:2px 6px 2px 0;
	text-align:right;
	width:50px;
}
.popClick:hover, .menu li:hover {
	background:#5C8AC2;
}
.popClose {
	background:url('/images/btn_close.png') no-repeat;
	border:0;
	float:left;
	height:17px;
	margin:-10px 0 0 -10px;
	text-decoration:none;
	width:17px;
}
.popClose:hover {
	background-position:0 -17px;
}
.status {
	font-size:11px;
	line-height:24px;
	margin:0 0 0 240px;
	padding-top:0;
	text-align:center;
	text-shadow: #FFF 0 1px 0;
}
.strike {
	color:#B3B3B3;
}
.strike .btn_checkbox {
	background-position:-110px 100%;
}
.calButton {
	background:url('/images/btn_sprite.png') 100% 100%;
	float:left;
	height:16px;
	margin:3px 0 0 2px;
	width:13px
}
.calDate {
	float:left
}

.urgent, .notify {
	background:url('/images/alert_sprite.png') no-repeat;
	float:right;
	height:20px;
	margin:2px 2px 0 0;
	width:18px;
}
.notify {
	background-position:100%
}
.startBox {
    background: url('/images/startbox_bg.png') no-repeat;
	font-size: 13px;
    line-height: 18px;
	height: 73px;
    margin-left: -120px;
    margin-top: -50px;
    padding: 9px 9px 0;
    position: absolute; top: 50%; left: 50%;
    width: 240px;
}
.startBox img, .startBox p {
	float:left;
}
.startBox img {
	margin-top: 4px;
}
.startBox p {
	color:#666;
	padding:0 10px;
	width:160px;
}
.strike .urgent, .strike .notify {
	background:none;
}